<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="bg-light margin-0">
<nav class="bg-dark padding-20">
    <p class="navbar--title txt-white font-24 margin-0">
        Pragma Brewery
    </p>
</nav>
<main class="align-center">
    <section>
        <section class="padding-10">
            <section id="gauges-display" class="flex flex-wrap align-center"></section>
        </section>
    </section>
</main>
</body>
</html>
