@import "variables";

.align {
  &-center {
    margin: 0 auto;
  }
}

.width {
  &-50 {
    width: 50px;
  }
}

.border {
  &-rad-20 {
    border-radius: 20%;
  }

  &-dark {
    border: 1.5px solid $color-dark;
  }
}

.no-outline {
  outline: 0;
}
