@import "variables";

@mixin font-face() {
  font-family: 'Roboto', sans-serif;
}

.bg {
  &-dark {
    background-color: $color-dark;
  }

  &-light {
    background-color: $color-light;
  }
}

.txt {
  &-white {
    color: white;
  }

  &-dark {
    color: $color-dark;
  }
}

.font {
  &-16 {
    font-size: 16px;
  }

  &-24 {
    font-size: 24px;
  }

  &-bold {
    font-weight: bold;
  }
}
